<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451234335042-eu36s2qsetc87raopkcqtj9c0l0ls8ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451234335042-eu36s2qsetc87raopkcqtj9c0l0ls8ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDfRUabJvzF_glBZPaY8VsxonP1ZkXBZIs</string>
	<key>GCM_SENDER_ID</key>
	<string>451234335042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsdsolutions.sundihomeapp</string>
	<key>PROJECT_ID</key>
	<string>pushnotification1-4b52f</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification1-4b52f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451234335042:ios:154858f647f95dd346e0db</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotification1-4b52f.firebaseio.com</string>
</dict>
</plist>