<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>Sundihome</string>
	<key>CFBundleIdentifier</key>
	<string>com.bsdsolutions.sundihomeapp</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>Sundihome cần truy cập vào máy ảnh của bạn để chụp hình làm ảnh đại diện và ảnh đăng tin bất động sản.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sundihome muốn truy cập vị trí của bạn, để tìm bất động sản xung quanh bạn.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sundihome muốn truy cập vị trí của bạn, để tìm bất động sản xung quanh bạn.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sundihome muốn truy cập vị trí của bạn, để tìm bất động sản xung quanh bạn.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Sundihome muốn truy cập lịch của bạn, để đặt lịch hẹn xem bất động sản.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome5BrandsRegular.otf</string>
		<string>FontAwesome5Regular.otf</string>
		<string>FontAwesome5Solid.otf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Light.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>Xamarin.Auth Google PAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.607579750145-7jckghtgn6mhqva1o7762ouceng4mh1k</string>
				<string>sundihomeapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>fb</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb764532897311608</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sundihome</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleName</key>
	<string>SundihomeApp</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sundihome cần quyền truy cập vào thư viện hình để lấy hình bất động sản</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Sundihome cần quyền truy cập vào thư viện hình để lấy hình bất động sản</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>otherExternalDomainYouNeedToCall</key>
	<dict>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FacebookAppID</key>
	<string>764532897311608</string>
	<key>FacebookDisplayName</key>
	<string>SundiHome</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb</string>
		<string>viber</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>25</string>
</dict>
</plist>
